[Unit]
Description=Problem Generator Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=/root/problem_generator
EnvironmentFile=/root/problem_generator/.env
ExecStart=/root/problem_generator/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 --config gunicorn_config.py wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target